.header {
  background-color: var(--background-color-dark);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: transform 0.1s ease;
  width: 100%;
}

.header.hidden {
  transform: translateY(-100%);
}

.header__inner {
  font-family: titillium web, sans-serif;/*Solo es la fuente del header*/
  max-width: var(--max-width-container-inner);
  margin: var(--margin-container-inner);
  padding: 1rem var(--padding-inline-global); /*este es solo del header*/
  color: var(--color-secundary-font-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  gap: .5rem;
  font-size: var(--font-size-logo);
  font-weight: 500;
  color: var(--color-secundary-font-white);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 20;
}

.logo__wrapper:hover {
  transform: scale(1.02);

}

.logo__image {
  display: grid;
  place-items: center;
}

.logo__image img {
  width: 4.5rem;
  height: 4.5rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1.5rem, 2vw, 3rem);
  padding: 0;
  margin: 0;
}

.nav__item {
  list-style-type: none;
}

.nav__link{
  color: var(--color-secundary-font-white);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem; /*variable de componente*/
  text-align: center;
}

.nav__link:hover {
  color: var(--color-font-orange);
  transition: color 0.3s ease;
}

.nav__link.activo {
  color: var(--color-font-orange);
  border-bottom: 2px solid var(--color-font-orange);
  font-weight: bold;
}


/* menú desplegable */

.header__nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.header__overlay {
  display: none;
}

/* media queries */

/* A partir de 768px: colapsar navegación para diseño móvil */
@media (max-width:768px)  {

  .header__nav-toggle {
    display: block;
    color: var(--color-secundary-font-white);
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
  }

  .header__nav-toggle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header__nav-toggle.active {
    border-radius: 50%;
    font-size: 2.5rem;
    background-color: rgba(0,0,0,0.4);
  }

  .header__overlay {
    position: fixed;
    top: 6.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.4s ease;
  }

  .header__overlay.active {
    display: block;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
  }

  .header__nav {
    position: fixed;
    left: 0;
    top: 6rem;
    width: 100%;
    background-color: var(--background-color-dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }

  .header__nav.active { 
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    z-index: 20;
  }

  .nav__list {
    padding: 1rem var(--padding-inline-global);
  }

  .no-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: contain;
  }

}

/* A partir de 550px: reacomodar secciones para pantallas más pequeñas */
@media (max-width:550px)  {
  .nav__list {
    flex-direction: column;
    align-items: start;
  }
}