<!-- seccion benefits -->
<section class="section__outer benefits benefits--{{ modifier }}">
    <div class="section__inner">
        <div class="section__text">
            <h2>{{ benefits.title }}</h2>
            <p class="benefits__p-custom">{{ benefits.mainDescription }}</p>
        </div>
        <div class="benefits__grid">
            <div class="benefits__card">
                <div class="benefits__card-icon benefits__card-icon--{{ modifier }}">
                    {{ benefits.items[0].icon | safe}}
                </div>
                <h3>{{ benefits.items[0].subtitle }}</h3>
                <p>{{ benefits.items[0].description }}</p>
            </div>
            <div class="benefits__card">
                <div class="benefits__card-icon benefits__card-icon--{{ modifier }}">
                    {{ benefits.items[1].icon | safe}}
                </div>
                <h3>{{ benefits.items[1].subtitle }}</h3>
                <p>{{ benefits.items[1].description }}</p>
            </div>
            <div class="benefits__card">
                <div class="benefits__card-icon benefits__card-icon--{{ modifier }}">
                    {{ benefits.items[2].icon | safe}}
                </div>
                <h3>{{ benefits.items[2].subtitle }}</h3>
                <p>{{ benefits.items[2].description }}</p>
            </div>
            <div class="benefits__card">
                <div class="benefits__card-icon benefits__card-icon--{{ modifier }}">
                    {{ benefits.items[3].icon | safe}}
                </div>
                <h3>{{ benefits.items[3].subtitle }}</h3>
                <p>{{ benefits.items[3].description }}</p>
            </div>
        </div>
    </div>
</section>
