  <!-- seccion contacto -->

<section class="section__outer contact-cta contact-cta--{{ modifier }}">
    <div class="section__inner">
      <div class="section__text">
        <h2 class="contact-cta__h2-custom">¿Listo para comenzar tu proyecto?</h2>
        <p class="contact-cta__p-custom">Contáctanos hoy mismo y descubre cómo podemos ayudarte a materializar tus ideas con
          la más alta calidad y precisión.</p>
      </div>

      <div class="buttons-container">
        <a href="#" class="btn orange">Solicita una cotización</a>
        <a href="https://wa.me/5218142823664?text=Hola%20PrintMakers3D,%20quiero%20una%20cotización."
          class="btn outline" target="_blank">Escribenos por WhatsApp</a>
      </div>
    </div>
  </section>