<!-- seccion footer -->
<footer class="section__outer footer">
  <div class="section__inner footer__inner">
    <div class="footer__grid">
      <div class="footer__logo">
        <a href="/index.html" class="logo__wrapper">
          <div class="logo__image">
            <img src="/assets/logo/print-logo200x200.webp" alt="Logo de Print Makers 3D">
          </div>
          <strong>Print Makers 3D</strong>
        </a>
        <p>
          Fabricamos moldes industriales y piezas en 3D que hacen la diferencia desde el primer diseño.
        </p>
      </div>
      <div class="footer__contact">
        <h3 class="footer__header">Contacto</h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <img src="/assets/components/footer/icons/call-icon.svg" alt="Icono de teléfono"> +52 8181823404
          </li>
          <li class="footer__list-item">
            <img src="/assets/components/footer/icons/mail-icon.svg" alt="Icono de correo"> contacto@printmakers3d.com
          </li>
          <li class="footer__list-item">
            <img src="/assets/components/footer/icons/location-icon.svg" alt="Icono de ubicación"> Guadalupe, Nuevo León, México
          </li>
        </ul>
      </div>
      <div class="footer__services">
        <h3 class="footer__header">
          Nuestros Servicios</h3>
        <ul class="footer__list">
          <li class="footer__list-item">Moldes Industriales</li>
          <li class="footer__list-item">Impresión 3D Personalizada</li>
          <li class="footer__list-item">Diseño y Prototipado 3D</li>
          <li class="footer__list-item">Fabricación de Piezas Funcionales</li>
        </ul>
      </div>
      <div class="footer__s-media">
        <h3 class="footer__header">Síguenos</h3>
        <ul class="footer__list footer__list--row">
          <li class="footer__list-item">
            <a href="https://www.instagram.com/print_makers3d/" target="_blank" rel="noopener noreferrer">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
              </svg>
            </a>
          </li>
          <li class="footer__list-item">
            <a href="https://www.tiktok.com/@print_makers3d" target="_blank" rel="noopener noreferrer">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewbox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__text">© 2025, Print Makers 3D. Todos los derechos reservados.</p>
  </div>
</footer>